import React, { Component } from 'react';
import { connect } from 'react-redux';

class {{ componentName }} extends Component {

    componentDidMount() {
        
    }
    
    render() {
        return (
            <div></div>    
        )
    }
}

function mapStateToProps(state) {
    return {}; 
}

export default connect(mapStateToProps, { })({{ componentName }});